openapi: "3.0.3"
info:
  title: "Emailr API"
  version: "1.0.0"
servers:
  - url: "https://api.emailr.dev"
    description: "Production"
tags:
  - name: "emails"
    description: "Email sending and management"
  - name: "contacts"
    description: "Contact management"
  - name: "templates"
    description: "Email template management"
  - name: "domains"
    description: "Domain verification and management"
  - name: "webhooks"
    description: "Webhook configuration"
  - name: "broadcasts"
    description: "Broadcast campaign management"
  - name: "segments"
    description: "Contact segmentation"
components:
  securitySchemes:
    bearerAuth:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      description: "API key authentication. Use your API key as the bearer token."
  schemas:
    SendEmailResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          example: true
        message_id:
          type: "string"
          example: "123e4567-e89b-12d3-a456-426614174000"
        recipients:
          type: "integer"
          example: 1
        scheduled_at:
          type: "string"
          format: "date-time"
          description: "Present when email is scheduled"
          example: "2024-01-15T10:30:00Z"
        status:
          type: "string"
          description: "Email status: 'sent' for immediate emails, 'scheduled' for scheduled emails"
          example: "sent"
      required:
        - "success"
        - "message_id"
        - "recipients"
    Error:
      type: "object"
      properties:
        error:
          type: "string"
          example: "An error occurred"
        code:
          type: "string"
          example: "VALIDATION_ERROR"
        details: {}
      required:
        - "error"
    Attachment:
      type: "object"
      properties:
        filename:
          type: "string"
          minLength: 1
          example: "document.pdf"
        content:
          type: "string"
          description: "Base64 encoded file content"
          example: "JVBERi0xLjQKJe..."
        contentType:
          type: "string"
          example: "application/pdf"
      required:
        - "filename"
        - "content"
    ReplyTo:
      type: "object"
      properties:
        in_reply_to:
          type: "string"
          example: "<message-id@domain.com>"
        thread_id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        parent_email_id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
    SendEmailRequest:
      type: "object"
      properties:
        from:
          type: "string"
          pattern: "^(?:[^<]+<[^@\\s]+@[^@\\s]+\\.[^@\\s]+>|[^@\\s]+@[^@\\s]+\\.[^@\\s]+)$"
          description: "Sender email. Accepts 'email@example.com' or 'Name <email@example.com>' format. Required if not using a template with from_email set."
          example: "John Doe <sender@example.com>"
        to:
          anyOf:
            - type: "string"
              format: "email"
              example: "recipient@example.com"
            - type: "array"
              items:
                type: "string"
                format: "email"
              example:
                - "recipient1@example.com"
                - "recipient2@example.com"
        cc:
          anyOf:
            - type: "string"
              format: "email"
            - type: "array"
              items:
                type: "string"
                format: "email"
          description: "CC recipients"
          example:
            - "cc1@example.com"
            - "cc2@example.com"
        bcc:
          anyOf:
            - type: "string"
              format: "email"
            - type: "array"
              items:
                type: "string"
                format: "email"
          description: "BCC recipients"
          example:
            - "bcc1@example.com"
            - "bcc2@example.com"
        subject:
          type: "string"
          minLength: 1
          description: "Email subject. Required if not using a template."
          example: "Hello World"
        html:
          type: "string"
          example: "<h1>Hello</h1>"
        text:
          type: "string"
          example: "Hello"
        template_id:
          type: "string"
          format: "uuid"
          description: "Template ID. When provided, template values are used for subject, html, text, from, reply_to, and preview_text."
          example: "123e4567-e89b-12d3-a456-426614174000"
        template_data:
          type: "object"
          additionalProperties: {}
          description: "Variables to render in the template. Must include all variables defined in the template."
          example:
            name: "John"
            company: "Acme"
        tags:
          type: "object"
          additionalProperties:
            type: "string"
          example:
            campaign: "welcome"
            source: "signup"
        attachments:
          type: "array"
          items:
            $ref: "#/components/schemas/Attachment"
        replyTo:
          $ref: "#/components/schemas/ReplyTo"
        reply_to_email:
          type: "string"
          format: "email"
          description: "Reply-To email address. Overrides template reply_to if provided."
          example: "support@example.com"
        preview_text:
          type: "string"
          description: "Preview text (preheader). Overrides template preview_text if provided."
          example: "Check out our latest updates..."
        scheduled_at:
          type: "string"
          format: "date-time"
          description: "Schedule email to be sent at this time. If not provided, email is sent immediately."
          example: "2024-01-15T10:30:00Z"
      required:
        - "to"
    Email:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        message_id:
          type: "string"
        from_email:
          type: "string"
          format: "email"
        to_email:
          type: "string"
          format: "email"
        subject:
          type: "string"
          nullable: true
        html_content:
          type: "string"
          nullable: true
        text_content:
          type: "string"
          nullable: true
        template_id:
          type: "string"
          nullable: true
          format: "uuid"
        status:
          type: "string"
          example: "sent"
        ses_message_id:
          type: "string"
          nullable: true
        broadcast_id:
          type: "string"
          nullable: true
          format: "uuid"
        metadata:
          type: "object"
          nullable: true
          additionalProperties: {}
        sent_at:
          type: "string"
          nullable: true
          format: "date-time"
        delivered_at:
          type: "string"
          nullable: true
          format: "date-time"
        opened_at:
          type: "string"
          nullable: true
          format: "date-time"
        clicked_at:
          type: "string"
          nullable: true
          format: "date-time"
        bounced_at:
          type: "string"
          nullable: true
          format: "date-time"
        complained_at:
          type: "string"
          nullable: true
          format: "date-time"
        scheduled_at:
          type: "string"
          nullable: true
          format: "date-time"
        created_at:
          type: "string"
          format: "date-time"
        thread_id:
          type: "string"
          nullable: true
          format: "uuid"
        parent_email_id:
          type: "string"
          nullable: true
          format: "uuid"
        attachments:
          type: "array"
          nullable: true
          items: {}
        clicked_links:
          type: "array"
          nullable: true
          items: {}
        opens:
          type: "array"
          nullable: true
          items: {}
      required:
        - "id"
        - "organization_id"
        - "message_id"
        - "from_email"
        - "to_email"
        - "subject"
        - "html_content"
        - "text_content"
        - "template_id"
        - "status"
        - "ses_message_id"
        - "broadcast_id"
        - "metadata"
        - "sent_at"
        - "delivered_at"
        - "opened_at"
        - "clicked_at"
        - "bounced_at"
        - "complained_at"
        - "scheduled_at"
        - "created_at"
        - "thread_id"
        - "parent_email_id"
        - "attachments"
        - "clicked_links"
        - "opens"
    Contact:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        email:
          type: "string"
          format: "email"
        first_name:
          type: "string"
          nullable: true
        last_name:
          type: "string"
          nullable: true
        metadata:
          type: "object"
          nullable: true
          additionalProperties:
            anyOf:
              - type: "string"
              - type: "number"
              - type: "boolean"
              - type: "null"
              - type: "null"
            description: "Property value supporting string, number, boolean, or date (as ISO string) types"
          description: "Custom properties for the contact. Supports string, number, boolean, and date (as ISO string) values."
        subscribed:
          type: "boolean"
        unsubscribed_at:
          type: "string"
          nullable: true
          format: "date-time"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "email"
        - "first_name"
        - "last_name"
        - "metadata"
        - "subscribed"
        - "unsubscribed_at"
        - "created_at"
        - "updated_at"
    CreateContactRequest:
      type: "object"
      properties:
        email:
          type: "string"
          format: "email"
          example: "contact@example.com"
        first_name:
          type: "string"
          example: "John"
        last_name:
          type: "string"
          example: "Doe"
        subscribed:
          type: "boolean"
          default: true
          example: true
        metadata:
          type: "object"
          additionalProperties:
            anyOf:
              - type: "string"
              - type: "number"
              - type: "boolean"
              - type: "null"
              - type: "null"
            description: "Property value supporting string, number, boolean, or date (as ISO string) types"
          description: "Custom properties for the contact. Supports string, number, boolean, and date (as ISO string) values."
          example:
            source: "website"
            plan: "pro"
            active: true
            score: 100
            signup_date: "2024-01-15"
      required:
        - "email"
    BulkCreateContactsResponse:
      type: "object"
      properties:
        imported:
          type: "integer"
          example: 10
        total:
          type: "integer"
          example: 12
      required:
        - "imported"
        - "total"
    BulkCreateContactsRequest:
      type: "object"
      properties:
        contacts:
          type: "array"
          items:
            $ref: "#/components/schemas/CreateContactRequest"
      required:
        - "contacts"
    ContactListResponse:
      type: "object"
      properties:
        contacts:
          type: "array"
          items:
            $ref: "#/components/schemas/Contact"
        total:
          type: "integer"
        limit:
          type: "integer"
        offset:
          type: "integer"
      required:
        - "contacts"
        - "total"
        - "limit"
        - "offset"
    UpdateContactRequest:
      type: "object"
      properties:
        email:
          type: "string"
          format: "email"
          example: "contact@example.com"
        first_name:
          type: "string"
          example: "John"
        last_name:
          type: "string"
          example: "Doe"
        subscribed:
          type: "boolean"
          example: true
        metadata:
          type: "object"
          additionalProperties:
            anyOf:
              - type: "string"
              - type: "number"
              - type: "boolean"
              - type: "null"
              - type: "null"
            description: "Property value supporting string, number, boolean, or date (as ISO string) types"
          description: "Custom properties for the contact. Supports string, number, boolean, and date (as ISO string) values."
          example:
            source: "website"
            plan: "pro"
            active: true
            score: 100
            signup_date: "2024-01-15"
    Success:
      type: "object"
      properties:
        success:
          type: "boolean"
          example: true
      required:
        - "success"
    Template:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        subject:
          type: "string"
        html_content:
          type: "string"
          nullable: true
        text_content:
          type: "string"
          nullable: true
        variables:
          type: "array"
          nullable: true
          items:
            type: "string"
        from_email:
          type: "string"
          nullable: true
        reply_to:
          type: "string"
          nullable: true
        preview_text:
          type: "string"
          nullable: true
        preview_html:
          type: "string"
          nullable: true
          description: "Preview HTML content for AI agent review workflow"
        created_by:
          type: "string"
          nullable: true
          format: "uuid"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "name"
        - "subject"
        - "html_content"
        - "text_content"
        - "variables"
        - "from_email"
        - "reply_to"
        - "preview_text"
        - "preview_html"
        - "created_by"
        - "created_at"
        - "updated_at"
    CreateTemplateRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          example: "Welcome Email"
        subject:
          type: "string"
          minLength: 1
          example: "Welcome to {{company}}"
        html_content:
          type: "string"
          example: "<h1>Welcome {{name}}</h1>"
        text_content:
          type: "string"
          example: "Welcome {{name}}"
        variables:
          type: "array"
          items:
            type: "string"
          example:
            - "name"
            - "company"
        from_email:
          type: "string"
          format: "email"
          description: "Default from email address. Must match a verified domain."
          example: "hello@example.com"
        reply_to:
          type: "string"
          format: "email"
          description: "Reply-To email address for template-based emails."
          example: "support@example.com"
        preview_text:
          type: "string"
          description: "Preview text (preheader) shown in email clients."
          example: "Check out what's new..."
      required:
        - "name"
        - "subject"
    UpdateTemplateRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          example: "Welcome Email"
        subject:
          type: "string"
          minLength: 1
          example: "Welcome to {{company}}"
        html_content:
          type: "string"
          example: "<h1>Welcome {{name}}</h1>"
        text_content:
          type: "string"
          example: "Welcome {{name}}"
        variables:
          type: "array"
          items:
            type: "string"
          example:
            - "name"
            - "company"
        from_email:
          type: "string"
          format: "email"
          description: "Default from email address. Must match a verified domain."
          example: "hello@example.com"
        reply_to:
          type: "string"
          format: "email"
          description: "Reply-To email address for template-based emails."
          example: "support@example.com"
        preview_text:
          type: "string"
          description: "Preview text (preheader) shown in email clients."
          example: "Check out what's new..."
    UpdatePreviewResponse:
      type: "object"
      properties:
        preview_url:
          type: "string"
          description: "Public URL to access the preview (no authentication required)"
          example: "/preview/123e4567-e89b-12d3-a456-426614174000"
      required:
        - "preview_url"
    UpdatePreviewRequest:
      type: "object"
      properties:
        html_content:
          type: "string"
          minLength: 1
          description: "HTML content for the template preview"
          example: "<h1>Welcome {{name}}</h1><p>Preview content here</p>"
      required:
        - "html_content"
    DnsRecord:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "TXT"
            - "MX"
            - "CNAME"
        name:
          type: "string"
        value:
          type: "string"
        priority:
          type: "number"
      required:
        - "type"
        - "name"
        - "value"
    DomainDnsRecords:
      type: "object"
      nullable: true
      properties:
        dkim:
          $ref: "#/components/schemas/DnsRecord"
        spf:
          $ref: "#/components/schemas/DnsRecord"
        dmarc:
          $ref: "#/components/schemas/DnsRecord"
        mailFromMx:
          $ref: "#/components/schemas/DnsRecord"
        mailFromSpf:
          $ref: "#/components/schemas/DnsRecord"
        receivingMx:
          $ref: "#/components/schemas/DnsRecord"
      required:
        - "dkim"
        - "spf"
        - "dmarc"
        - "mailFromMx"
        - "mailFromSpf"
        - "receivingMx"
    Domain:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        domain:
          type: "string"
        status:
          type: "string"
          example: "verified"
        verification_token:
          type: "string"
          nullable: true
        dkim_verified:
          type: "boolean"
        spf_verified:
          type: "boolean"
        dmarc_verified:
          type: "boolean"
        cloudflare_zone_id:
          type: "string"
          nullable: true
        ses_identity_arn:
          type: "string"
          nullable: true
        created_at:
          type: "string"
          format: "date-time"
        verified_at:
          type: "string"
          nullable: true
          format: "date-time"
        dkim_tokens:
          type: "array"
          nullable: true
          items:
            type: "string"
        dns_records:
          $ref: "#/components/schemas/DomainDnsRecords"
        dkim_selector:
          type: "string"
          nullable: true
        mail_from_subdomain:
          type: "string"
          nullable: true
        mail_from_verified:
          type: "boolean"
          nullable: true
        receiving_enabled:
          type: "boolean"
          nullable: true
        receiving_subdomain:
          type: "string"
          nullable: true
      required:
        - "id"
        - "organization_id"
        - "domain"
        - "status"
        - "verification_token"
        - "dkim_verified"
        - "spf_verified"
        - "dmarc_verified"
        - "cloudflare_zone_id"
        - "ses_identity_arn"
        - "created_at"
        - "verified_at"
        - "dkim_tokens"
        - "dns_records"
        - "dkim_selector"
        - "mail_from_subdomain"
        - "mail_from_verified"
        - "receiving_enabled"
        - "receiving_subdomain"
    AddDomainRequest:
      type: "object"
      properties:
        domain:
          type: "string"
          minLength: 1
          example: "example.com"
        receivingSubdomain:
          type: "string"
          default: "mail"
          example: "mail"
      required:
        - "domain"
    DomainVerificationStatus:
      type: "object"
      properties:
        verified:
          type: "boolean"
        status:
          type: "string"
        dkimStatus:
          type: "string"
      required:
        - "verified"
        - "status"
    DnsVerificationStatus:
      type: "object"
      additionalProperties:
        type: "object"
        properties:
          verified:
            type: "boolean"
          expected:
            type: "string"
          found:
            type: "array"
            items:
              type: "string"
        required:
          - "verified"
    UpdateDomainRequest:
      type: "object"
      properties:
        receiving_enabled:
          type: "boolean"
          example: true
    ApiKey:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        key:
          type: "string"
          description: "Only returned when creating a new key"
          example: "et_live_abc123..."
        permissions:
          type: "array"
          nullable: true
          items:
            type: "string"
        last_used_at:
          type: "string"
          nullable: true
          format: "date-time"
        created_by:
          type: "string"
          nullable: true
          format: "uuid"
        created_at:
          type: "string"
          format: "date-time"
        revoked_at:
          type: "string"
          nullable: true
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "name"
        - "permissions"
        - "last_used_at"
        - "created_by"
        - "created_at"
        - "revoked_at"
    CreateApiKeyRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          example: "Production API Key"
        permissions:
          type: "array"
          items:
            type: "string"
          example:
            - "emails:send"
            - "contacts:read"
      required:
        - "name"
    ApiKeyListItem:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        permissions:
          type: "array"
          nullable: true
          items:
            type: "string"
        last_used_at:
          type: "string"
          nullable: true
          format: "date-time"
        created_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "name"
        - "permissions"
        - "last_used_at"
        - "created_at"
    Webhook:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        url:
          type: "string"
          format: "uri"
        events:
          type: "array"
          items:
            type: "string"
        secret:
          type: "string"
        active:
          type: "boolean"
        created_by:
          type: "string"
          nullable: true
          format: "uuid"
        created_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "name"
        - "url"
        - "events"
        - "secret"
        - "active"
        - "created_by"
        - "created_at"
    CreateWebhookRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          example: "Email Events Webhook"
        url:
          type: "string"
          format: "uri"
          example: "https://api.example.com/webhooks"
        events:
          type: "array"
          items:
            type: "string"
          example:
            - "email.sent"
            - "email.delivered"
            - "email.bounced"
      required:
        - "name"
        - "url"
        - "events"
    WebhookToggleResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        active:
          type: "boolean"
      required:
        - "success"
        - "active"
    WebhookDelivery:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        webhook_id:
          type: "string"
          format: "uuid"
        event_type:
          type: "string"
        payload:
          type: "object"
          additionalProperties: {}
        response_status:
          type: "number"
          nullable: true
        response_body:
          type: "string"
          nullable: true
        attempt_count:
          type: "number"
        delivered_at:
          type: "string"
          nullable: true
          format: "date-time"
        created_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "webhook_id"
        - "event_type"
        - "payload"
        - "response_status"
        - "response_body"
        - "attempt_count"
        - "delivered_at"
        - "created_at"
    Broadcast:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        subject:
          type: "string"
        from_email:
          type: "string"
          format: "email"
        template_id:
          type: "string"
          nullable: true
          format: "uuid"
        segment_id:
          type: "string"
          nullable: true
          format: "uuid"
        topic_id:
          type: "string"
          nullable: true
          format: "uuid"
          description: "Topic ID for categorizing the broadcast"
          example: "123e4567-e89b-12d3-a456-426614174000"
        status:
          type: "string"
          example: "draft"
        total_recipients:
          type: "number"
          nullable: true
        sent_count:
          type: "number"
          nullable: true
        delivered_count:
          type: "number"
          nullable: true
        opened_count:
          type: "number"
          nullable: true
        clicked_count:
          type: "number"
          nullable: true
        bounced_count:
          type: "number"
          nullable: true
        scheduled_at:
          type: "string"
          nullable: true
          format: "date-time"
        started_at:
          type: "string"
          nullable: true
          format: "date-time"
        completed_at:
          type: "string"
          nullable: true
          format: "date-time"
        created_by:
          type: "string"
          nullable: true
          format: "uuid"
        created_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "name"
        - "subject"
        - "from_email"
        - "template_id"
        - "segment_id"
        - "topic_id"
        - "status"
        - "total_recipients"
        - "sent_count"
        - "delivered_count"
        - "opened_count"
        - "clicked_count"
        - "bounced_count"
        - "scheduled_at"
        - "started_at"
        - "completed_at"
        - "created_by"
        - "created_at"
    CreateBroadcastRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          example: "Newsletter - January 2024"
        subject:
          type: "string"
          minLength: 1
          example: "Your monthly update"
        from_email:
          type: "string"
          format: "email"
          example: "newsletter@example.com"
        template_id:
          type: "string"
          format: "uuid"
        segment_id:
          type: "string"
          format: "uuid"
        topic_id:
          type: "string"
          format: "uuid"
          description: "Optional topic ID to categorize the broadcast for unsubscription management"
          example: "123e4567-e89b-12d3-a456-426614174000"
        html_content:
          type: "string"
        text_content:
          type: "string"
        scheduled_at:
          type: "string"
          format: "date-time"
      required:
        - "name"
        - "subject"
        - "from_email"
    SendBroadcastResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        queued:
          type: "integer"
          description: "Number of emails successfully queued for sending"
        total:
          type: "integer"
          description: "Total number of eligible recipients after filtering"
        excluded:
          type: "integer"
          description: "Count of contacts excluded due to unsubscriptions (global or topic-specific)"
        status:
          type: "string"
          description: "Current status of the broadcast send operation"
          example: "queued"
      required:
        - "success"
        - "queued"
        - "total"
        - "excluded"
        - "status"
    SegmentType:
      type: "string"
      enum:
        - "manual"
        - "data_driven"
      description: "Segment type: 'manual' or 'data_driven'"
      example: "data_driven"
    Segment:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        description:
          type: "string"
          nullable: true
        type:
          $ref: "#/components/schemas/SegmentType"
        conditions:
          type: "object"
          additionalProperties: {}
        created_by:
          type: "string"
          nullable: true
          format: "uuid"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "name"
        - "description"
        - "type"
        - "conditions"
        - "created_by"
        - "created_at"
        - "updated_at"
    FilterRule:
      type: "object"
      properties:
        field:
          type: "string"
          example: "properties.plan_type"
        operator:
          type: "string"
          enum:
            - "exists"
            - "not_exists"
            - "equals"
            - "not_equals"
            - "greater_than"
            - "less_than"
            - "greater_than_or_equal"
            - "less_than_or_equal"
            - "contains"
            - "not_contains"
            - "starts_with"
            - "ends_with"
          example: "equals"
        value:
          example: "premium"
      required:
        - "field"
        - "operator"
    FilterConditions:
      type: "object"
      properties:
        logic:
          type: "string"
          enum:
            - "and"
            - "or"
          example: "and"
        rules:
          type: "array"
          items:
            $ref: "#/components/schemas/FilterRule"
          example:
            - field: "properties.plan_type"
              operator: "equals"
              value: "premium"
      required:
        - "logic"
        - "rules"
      description: "Filter conditions for data-driven segments. Required when type is 'data_driven'."
      example:
        logic: "and"
        rules:
          - field: "properties.plan_type"
            operator: "equals"
            value: "premium"
    CreateSegmentRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          example: "Active Users"
        description:
          type: "string"
          example: "Users who opened an email in the last 30 days"
        type:
          allOf:
            - $ref: "#/components/schemas/SegmentType"
            - default: "manual"
              description: "Segment type: 'manual' for static segments, 'data_driven' for dynamic filter-based segments"
        conditions:
          $ref: "#/components/schemas/FilterConditions"
      required:
        - "name"
    UpdateSegmentRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          example: "Active Users"
        description:
          type: "string"
          example: "Users who opened an email in the last 30 days"
        conditions:
          allOf:
            - $ref: "#/components/schemas/FilterConditions"
            - description: "Filter conditions for data-driven segments. Cannot change segment type after creation."
    SegmentContactsResponse:
      type: "object"
      properties:
        contacts:
          type: "array"
          items:
            $ref: "#/components/schemas/Contact"
        total:
          type: "integer"
          description: "Total number of contacts in the segment"
          example: 150
        limit:
          type: "integer"
          example: 100
        offset:
          type: "integer"
          example: 0
      required:
        - "contacts"
        - "total"
        - "limit"
        - "offset"
    BulkAddContactsToSegmentResponse:
      type: "object"
      properties:
        added:
          type: "integer"
          description: "Number of contacts successfully added to the segment"
          example: 10
        already_in_segment:
          type: "integer"
          description: "Number of contacts that were already in the segment"
          example: 2
        not_found:
          type: "integer"
          description: "Number of emails that were not found in the contacts list"
          example: 1
      required:
        - "added"
        - "already_in_segment"
        - "not_found"
    BulkAddContactsToSegmentRequest:
      type: "object"
      properties:
        contact_ids:
          type: "array"
          items:
            type: "string"
            format: "uuid"
          description: "Array of contact IDs to add to the segment"
          example:
            - "123e4567-e89b-12d3-a456-426614174000"
            - "223e4567-e89b-12d3-a456-426614174001"
        emails:
          type: "array"
          items:
            type: "string"
            format: "email"
          description: "Array of email addresses to add to the segment (will be looked up in contacts)"
          example:
            - "user1@example.com"
            - "user2@example.com"
    UsageMetric:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        organization_id:
          type: "string"
          format: "uuid"
        metric_type:
          type: "string"
        count:
          type: "number"
        date:
          type: "string"
        created_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "metric_type"
        - "count"
        - "date"
        - "created_at"
    EmailMetrics:
      type: "object"
      properties:
        total:
          type: "integer"
          example: 1000
        sent:
          type: "integer"
          example: 950
        delivered:
          type: "integer"
          example: 920
        bounced:
          type: "integer"
          example: 25
        complained:
          type: "integer"
          example: 5
      required:
        - "total"
        - "sent"
        - "delivered"
        - "bounced"
        - "complained"
    EmailEvent:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        email_id:
          type: "string"
          format: "uuid"
        event_type:
          type: "string"
          example: "delivered"
        event_data:
          type: "object"
          nullable: true
          additionalProperties: {}
        ip_address:
          type: "string"
          nullable: true
        user_agent:
          type: "string"
          nullable: true
        created_at:
          type: "string"
          format: "date-time"
        emails:
          $ref: "#/components/schemas/Email"
      required:
        - "id"
        - "email_id"
        - "event_type"
        - "event_data"
        - "ip_address"
        - "user_agent"
        - "created_at"
    Organization:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        slug:
          type: "string"
        plan:
          type: "string"
          nullable: true
        billing_email:
          type: "string"
          nullable: true
        stripe_customer_id:
          type: "string"
          nullable: true
        stripe_subscription_id:
          type: "string"
          nullable: true
        usage_limit:
          type: "number"
          nullable: true
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        ses_configuration_set:
          type: "string"
          nullable: true
        ses_tenant_name:
          type: "string"
          nullable: true
        ses_tenant_id:
          type: "string"
          nullable: true
      required:
        - "id"
        - "name"
        - "slug"
        - "plan"
        - "billing_email"
        - "stripe_customer_id"
        - "stripe_subscription_id"
        - "usage_limit"
        - "created_at"
        - "updated_at"
        - "ses_configuration_set"
        - "ses_tenant_name"
        - "ses_tenant_id"
    UpdateOrganizationRequest:
      type: "object"
      properties:
        name:
          type: "string"
          example: "My Company"
        billing_email:
          type: "string"
          format: "email"
          example: "billing@example.com"
    TeamMember:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        organization_id:
          type: "string"
          format: "uuid"
        user_id:
          type: "string"
          format: "uuid"
        role:
          type: "string"
          nullable: true
        created_at:
          type: "string"
          format: "date-time"
        profiles:
          type: "object"
          nullable: true
          properties:
            id:
              type: "string"
              format: "uuid"
            email:
              type: "string"
            full_name:
              type: "string"
              nullable: true
            avatar_url:
              type: "string"
              nullable: true
          required:
            - "id"
            - "email"
            - "full_name"
            - "avatar_url"
      required:
        - "id"
        - "organization_id"
        - "user_id"
        - "role"
        - "created_at"
        - "profiles"
    UnsubscribeSettings:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        organization_id:
          type: "string"
          format: "uuid"
        custom_message:
          type: "string"
          nullable: true
        redirect_url:
          type: "string"
          nullable: true
        one_click_enabled:
          type: "boolean"
          nullable: true
        logo_url:
          type: "string"
          nullable: true
          description: "Logo URL for unsubscribe page branding"
          example: "https://example.com/logo.png"
        primary_color:
          type: "string"
          nullable: true
          description: "Primary color for unsubscribe page (hex format #RRGGBB)"
          example: "#3B82F6"
        company_name:
          type: "string"
          nullable: true
          description: "Company name displayed on unsubscribe page"
          example: "Acme Inc."
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
    UpdateUnsubscribeSettingsRequest:
      type: "object"
      properties:
        custom_message:
          type: "string"
          example: "You have been unsubscribed from our mailing list."
        redirect_url:
          type: "string"
          format: "uri"
          example: "https://example.com/unsubscribed"
        one_click_enabled:
          type: "boolean"
          example: true
        logo_url:
          type: "string"
          format: "uri"
          description: "Logo URL for unsubscribe page branding"
          example: "https://example.com/logo.png"
        primary_color:
          type: "string"
          pattern: "^#[0-9A-Fa-f]{6}$"
          description: "Primary color for unsubscribe page (hex format #RRGGBB)"
          example: "#3B82F6"
        company_name:
          type: "string"
          maxLength: 255
          description: "Company name displayed on unsubscribe page"
          example: "Acme Inc."
    SmtpCredentials:
      type: "object"
      properties:
        server:
          type: "string"
          example: "email-smtp.us-east-1.amazonaws.com"
        ports:
          type: "object"
          properties:
            tls:
              type: "number"
              example: 587
            ssl:
              type: "number"
              example: 465
            tls_alternative:
              type: "number"
              example: 2587
          required:
            - "tls"
            - "ssl"
            - "tls_alternative"
        username:
          type: "string"
          example: "AKIAIOSFODNN7EXAMPLE"
        password:
          type: "string"
          example: "your-api-key"
        encryption:
          type: "string"
          example: "TLS (port 587) or SSL (port 465)"
        note:
          type: "string"
          example: "Use your API key as the password. Rotate your API key if compromised."
      required:
        - "server"
        - "ports"
        - "username"
        - "password"
        - "encryption"
        - "note"
    PropertyType:
      type: "string"
      enum:
        - "string"
        - "number"
        - "boolean"
        - "date"
    PropertyDefinition:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
          example: "company"
        type:
          $ref: "#/components/schemas/PropertyType"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "name"
        - "type"
        - "created_at"
        - "updated_at"
    CreatePropertyDefinitionRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          maxLength: 100
          pattern: "^[a-zA-Z0-9_]+$"
          example: "company"
        type:
          allOf:
            - $ref: "#/components/schemas/PropertyType"
            - example: "string"
      required:
        - "name"
        - "type"
    PropertyDefinitionListResponse:
      type: "array"
      items:
        $ref: "#/components/schemas/PropertyDefinition"
    CSVPreviewRow:
      type: "object"
      additionalProperties:
        type: "string"
    CSVImportPreviewResponse:
      type: "object"
      properties:
        headers:
          type: "array"
          items:
            type: "string"
          description: "Column headers extracted from the CSV file"
          example:
            - "email"
            - "first_name"
            - "last_name"
            - "company"
        preview_rows:
          type: "array"
          items:
            $ref: "#/components/schemas/CSVPreviewRow"
          description: "First 5 rows of data as objects with header keys"
          example:
            - email: "john@example.com"
              first_name: "John"
              last_name: "Doe"
              company: "Acme"
            - email: "jane@example.com"
              first_name: "Jane"
              last_name: "Smith"
              company: "Corp"
        total_rows:
          type: "integer"
          description: "Total number of data rows in the CSV (excluding header)"
          example: 150
        suggested_mappings:
          type: "object"
          additionalProperties:
            type: "string"
            nullable: true
          description: "Auto-suggested mappings for column headers to contact properties. Value is null if no suggestion."
          example:
            email: "email"
            first_name: "first_name"
            last_name: "last_name"
            company: null
      required:
        - "headers"
        - "preview_rows"
        - "total_rows"
        - "suggested_mappings"
    CSVImportPreviewRequest:
      type: "object"
      properties:
        file_content:
          type: "string"
          description: "CSV content, either base64 encoded or raw text"
          example: "ZW1haWwsZmlyc3RfbmFtZSxsYXN0X25hbWUKam9obkBleGFtcGxlLmNvbSxKb2huLERvZQ=="
        is_base64:
          type: "boolean"
          default: true
          description: "Whether the file_content is base64 encoded (default: true)"
          example: true
      required:
        - "file_content"
    ImportError:
      type: "object"
      properties:
        row:
          type: "integer"
          description: "Row number in the CSV (1-indexed, excluding header)"
          example: 5
        email:
          type: "string"
          description: "The email value that caused the error"
          example: "invalid-email"
        error:
          type: "string"
          description: "Description of the error"
          example: "Invalid email format"
      required:
        - "row"
        - "email"
        - "error"
    CSVImportResponse:
      type: "object"
      properties:
        created:
          type: "integer"
          description: "Number of new contacts created"
          example: 45
        updated:
          type: "integer"
          description: "Number of existing contacts updated"
          example: 10
        skipped:
          type: "integer"
          description: "Number of rows skipped (invalid data or handle_missing='skip')"
          example: 3
        errors:
          type: "array"
          items:
            $ref: "#/components/schemas/ImportError"
          description: "List of errors encountered during import"
          example:
            - row: 5
              email: "invalid-email"
              error: "Invalid email format"
      required:
        - "created"
        - "updated"
        - "skipped"
        - "errors"
    ColumnMapping:
      type: "object"
      properties:
        csv_column:
          type: "string"
          description: "Column header from the CSV file"
          example: "Email Address"
        property_name:
          type: "string"
          nullable: true
          description: "Contact property to map to. Use null to skip this column."
          example: "email"
      required:
        - "csv_column"
        - "property_name"
    CSVImportRequest:
      type: "object"
      properties:
        file_content:
          type: "string"
          description: "Base64 encoded CSV content"
          example: "ZW1haWwsZmlyc3RfbmFtZSxsYXN0X25hbWUKam9obkBleGFtcGxlLmNvbSxKb2huLERvZQ=="
        column_mappings:
          type: "array"
          items:
            $ref: "#/components/schemas/ColumnMapping"
          description: "Mappings from CSV columns to contact properties"
          example:
            - csv_column: "Email Address"
              property_name: "email"
            - csv_column: "First Name"
              property_name: "first_name"
            - csv_column: "Company"
              property_name: "company"
        handle_missing:
          type: "string"
          enum:
            - "create"
            - "skip"
          default: "create"
          description: "How to handle emails not found in contacts: 'create' to add new contacts, 'skip' to ignore them"
          example: "create"
        segment_id:
          type: "string"
          format: "uuid"
          description: "Optional segment ID to add imported contacts to"
          example: "123e4567-e89b-12d3-a456-426614174000"
      required:
        - "file_content"
        - "column_mappings"
    InvitationRole:
      type: "string"
      enum:
        - "member"
        - "admin"
    InvitationStatus:
      type: "string"
      enum:
        - "pending"
        - "accepted"
        - "expired"
        - "cancelled"
    Invitation:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization_id:
          type: "string"
          format: "uuid"
        email:
          type: "string"
          format: "email"
        role:
          $ref: "#/components/schemas/InvitationRole"
        status:
          $ref: "#/components/schemas/InvitationStatus"
        invited_by:
          type: "string"
          format: "uuid"
        inviter_name:
          type: "string"
          nullable: true
          description: "Full name of the person who sent the invitation"
          example: "John Doe"
        inviter_email:
          type: "string"
          format: "email"
          description: "Email of the person who sent the invitation"
          example: "john@example.com"
        expires_at:
          type: "string"
          format: "date-time"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "organization_id"
        - "email"
        - "role"
        - "status"
        - "invited_by"
        - "inviter_name"
        - "inviter_email"
        - "expires_at"
        - "created_at"
        - "updated_at"
    CreateInvitationRequest:
      type: "object"
      properties:
        email:
          type: "string"
          format: "email"
          description: "Email address of the person to invite"
          example: "colleague@example.com"
        role:
          allOf:
            - $ref: "#/components/schemas/InvitationRole"
            - default: "member"
              description: "Role to assign to the invited user"
              example: "member"
      required:
        - "email"
    InvitationListResponse:
      type: "object"
      properties:
        invitations:
          type: "array"
          items:
            $ref: "#/components/schemas/Invitation"
      required:
        - "invitations"
    InvitationDetails:
      type: "object"
      properties:
        organization_name:
          type: "string"
          description: "Name of the organization"
          example: "Acme Inc."
        inviter_name:
          type: "string"
          nullable: true
          description: "Full name of the person who sent the invitation"
          example: "John Doe"
        inviter_email:
          type: "string"
          format: "email"
          description: "Email of the person who sent the invitation"
          example: "john@example.com"
        role:
          allOf:
            - $ref: "#/components/schemas/InvitationRole"
            - description: "Role being offered"
              example: "member"
        email:
          type: "string"
          format: "email"
          description: "Email address the invitation was sent to"
          example: "colleague@example.com"
        is_expired:
          type: "boolean"
          description: "Whether the invitation has expired"
          example: false
        expires_at:
          type: "string"
          format: "date-time"
          description: "When the invitation expires"
          example: "2024-02-01T00:00:00Z"
      required:
        - "organization_name"
        - "inviter_name"
        - "inviter_email"
        - "role"
        - "email"
        - "is_expired"
        - "expires_at"
  parameters: {}
paths:
  /preview/{template_id}:
    get:
      tags:
        - "templates"
      operationId: "getTemplatePreview"
      summary: "Get template preview (public)"
      description: "Get the preview HTML for a template. This is a public route that does not require authentication, designed for AI agents to view template previews."
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            description: "The template ID to fetch the preview for"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "template_id"
          in: "path"
      responses:
        "200":
          description: "Preview HTML content"
          content:
            text/html:
              schema:
                type: "string"
                example: "<html><body><h1>Welcome</h1></body></html>"
        "404":
          description: "Template not found or no preview exists"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  error:
                    type: "string"
                    example: "Template not found"
                  code:
                    type: "string"
                    example: "template_not_found"
                required:
                  - "error"
                  - "code"
  /v1/emails/send:
    post:
      tags:
        - "emails"
      operationId: "sendEmail"
      summary: "Send an email"
      description: "Send an email to one or multiple recipients"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEmailRequest"
      responses:
        "200":
          description: "Email sent successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendEmailResponse"
        "400":
          description: "Validation error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: "Rate limit exceeded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: send
  /v1/emails/{id}:
    get:
      tags:
        - "emails"
      operationId: "getEmail"
      summary: "Get email by ID"
      description: "Retrieve details of a specific email"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Email details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Email"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Email not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: get
  /v1/emails:
    get:
      tags:
        - "emails"
      operationId: "listEmails"
      summary: "List emails"
      description: "Get a paginated list of sent emails"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            default: "1"
            example: "1"
          required: false
          name: "page"
          in: "query"
        - schema:
            type: "string"
            default: "50"
            example: "50"
          required: false
          name: "limit"
          in: "query"
      responses:
        "200":
          description: "List of emails with pagination"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Email"
                  pagination:
                    type: "object"
                    properties:
                      page:
                        type: "integer"
                      limit:
                        type: "integer"
                      total:
                        type: "integer"
                      pages:
                        type: "integer"
                    required:
                      - "page"
                      - "limit"
                      - "total"
                      - "pages"
                required:
                  - "data"
                  - "pagination"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: list
  /v1/emails/forward:
    post:
      tags:
        - "emails"
      operationId: "forwardEmail"
      summary: "Forward an email"
      description: "Forward a received email to other recipients"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                email_id:
                  type: "string"
                  format: "uuid"
                to:
                  anyOf:
                    - type: "string"
                      format: "email"
                    - type: "array"
                      items:
                        type: "string"
                        format: "email"
                message:
                  type: "string"
              required:
                - "email_id"
                - "to"
      responses:
        "200":
          description: "Email forwarded successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendEmailResponse"
        "404":
          description: "Email not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/contacts:
    post:
      tags:
        - "contacts"
      operationId: "createContact"
      summary: "Create a contact"
      description: "Create a new contact in your organization"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactRequest"
      responses:
        "200":
          description: "Contact created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          description: "Validation error or duplicate email"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: create
    get:
      tags:
        - "contacts"
      operationId: "listContacts"
      summary: "List contacts"
      description: "Get a list of contacts with optional filtering"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            example: "100"
          required: false
          name: "limit"
          in: "query"
        - schema:
            type: "string"
            example: "0"
          required: false
          name: "offset"
          in: "query"
        - schema:
            type: "string"
            example: "true"
          required: false
          name: "subscribed"
          in: "query"
      responses:
        "200":
          description: "List of contacts"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactListResponse"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: list
  /v1/contacts/bulk:
    post:
      tags:
        - "contacts"
      operationId: "bulkCreateContacts"
      summary: "Bulk create contacts"
      description: "Import multiple contacts at once"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkCreateContactsRequest"
      responses:
        "200":
          description: "Contacts imported"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkCreateContactsResponse"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: bulkCreate
  /v1/contacts/limit:
    get:
      tags:
        - "contacts"
      operationId: "getContactLimit"
      summary: "Get contact limit info"
      description: "Get the organization's contact limit, current count, and remaining available slots"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "Contact limit information"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  contactLimit:
                    type: "number"
                  currentCount:
                    type: "number"
                  remainingSlots:
                    type: "number"
                required:
                  - "contactLimit"
                  - "currentCount"
                  - "remainingSlots"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/contacts/{id}:
    get:
      tags:
        - "contacts"
      operationId: "getContact"
      summary: "Get contact"
      description: "Get a specific contact by ID"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Contact details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Contact not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: get
    put:
      tags:
        - "contacts"
      operationId: "updateContact"
      summary: "Update contact"
      description: "Update a contact's information"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactRequest"
      responses:
        "200":
          description: "Contact updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Contact not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: update
    delete:
      tags:
        - "contacts"
      operationId: "deleteContact"
      summary: "Delete contact"
      description: "Delete a contact from your organization"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Contact deleted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Contact not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: delete
  /v1/templates:
    post:
      tags:
        - "templates"
      operationId: "createTemplate"
      summary: "Create a template"
      description: "Create a new email template"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTemplateRequest"
      responses:
        "200":
          description: "Template created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: create
    get:
      tags:
        - "templates"
      operationId: "listTemplates"
      summary: "List templates"
      description: "Get all email templates for your organization"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "List of templates"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Template"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: list
  /v1/templates/{id}:
    get:
      tags:
        - "templates"
      operationId: "getTemplate"
      summary: "Get template"
      description: "Get a specific template by ID"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Template details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "404":
          description: "Template not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: get
    put:
      tags:
        - "templates"
      operationId: "updateTemplate"
      summary: "Update template"
      description: "Update an existing template"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTemplateRequest"
      responses:
        "200":
          description: "Template updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: update
    delete:
      tags:
        - "templates"
      operationId: "deleteTemplate"
      summary: "Delete template"
      description: "Delete a template"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Template deleted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: delete
  /v1/templates/{id}/preview:
    put:
      tags:
        - "templates"
      operationId: "updateTemplatePreview"
      summary: "Update template preview"
      description: "Update the preview HTML for a template. The preview can be accessed publicly at /preview/{template_id} without authentication."
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePreviewRequest"
      responses:
        "200":
          description: "Preview updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePreviewResponse"
        "400":
          description: "Invalid HTML content"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Template not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/templates/{id}/publish:
    post:
      tags:
        - "templates"
      operationId: "publishTemplate"
      summary: "Publish template"
      description: "Publish a template, which clears the preview HTML. The preview_html field will be set to NULL after this operation."
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Template published"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
        "404":
          description: "Template not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/domains:
    post:
      tags:
        - "domains"
      operationId: "addDomain"
      summary: "Add domain"
      description: "Add a new domain with BYODKIM"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddDomainRequest"
      responses:
        "200":
          description: "Domain added"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: add
    get:
      tags:
        - "domains"
      operationId: "listDomains"
      summary: "List domains"
      description: "Get all domains for your organization"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "List of domains"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Domain"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: list
  /v1/domains/{id}/verify:
    post:
      tags:
        - "domains"
      operationId: "verifyDomain"
      summary: "Verify domain"
      description: "Check domain verification status with SES"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Verification status"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainVerificationStatus"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: verify
  /v1/domains/{id}/dns-status:
    get:
      tags:
        - "domains"
      operationId: "getDomainDnsStatus"
      summary: "Get DNS status"
      description: "Check DNS records verification status"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "DNS status"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DnsVerificationStatus"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: getDnsStatus
  /v1/domains/{id}:
    get:
      tags:
        - "domains"
      operationId: "getDomain"
      summary: "Get domain"
      description: "Get a specific domain by ID"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Domain details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      tags:
        - "domains"
      operationId: "updateDomain"
      summary: "Update domain"
      description: "Update domain settings"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDomainRequest"
      responses:
        "200":
          description: "Domain updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: update
    delete:
      tags:
        - "domains"
      operationId: "deleteDomain"
      summary: "Delete domain"
      description: "Delete a domain and remove it from SES"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Domain deleted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "404":
          description: "Not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: delete
  /v1/webhooks:
    post:
      tags:
        - "webhooks"
      operationId: "createWebhook"
      summary: "Create webhook"
      description: "Create a new webhook endpoint for event notifications"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "200":
          description: "Webhook created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: create
    get:
      tags:
        - "webhooks"
      operationId: "listWebhooks"
      summary: "List webhooks"
      description: "Get all webhooks for your organization"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "List of webhooks"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Webhook"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: list
  /v1/webhooks/{id}/toggle:
    put:
      tags:
        - "webhooks"
      operationId: "toggleWebhook"
      summary: "Toggle webhook"
      description: "Enable or disable a webhook"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Webhook toggled"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookToggleResponse"
        "404":
          description: "Webhook not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: toggle
  /v1/webhooks/{id}:
    delete:
      tags:
        - "webhooks"
      operationId: "deleteWebhook"
      summary: "Delete webhook"
      description: "Delete a webhook and its delivery history"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Webhook deleted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: delete
  /v1/webhooks/{id}/deliveries:
    get:
      tags:
        - "webhooks"
      operationId: "getWebhookDeliveries"
      summary: "Get webhook deliveries"
      description: "Get recent delivery attempts for a webhook"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "List of webhook deliveries"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/WebhookDelivery"
        "404":
          description: "Webhook not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: listDeliveries
  /v1/broadcasts:
    post:
      tags:
        - "broadcasts"
      operationId: "createBroadcast"
      summary: "Create broadcast"
      description: "Create a new email broadcast campaign"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBroadcastRequest"
      responses:
        "200":
          description: "Broadcast created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Broadcast"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: create
    get:
      tags:
        - "broadcasts"
      operationId: "listBroadcasts"
      summary: "List broadcasts"
      description: "Get all broadcasts for your organization"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "List of broadcasts"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Broadcast"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: list
  /v1/broadcasts/{id}/send:
    post:
      tags:
        - "broadcasts"
      operationId: "sendBroadcast"
      summary: "Send broadcast"
      description: "Send a broadcast to all recipients"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Broadcast sent"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendBroadcastResponse"
        "404":
          description: "Broadcast not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: send
  /v1/broadcasts/{id}:
    get:
      tags:
        - "broadcasts"
      operationId: "getBroadcast"
      summary: "Get broadcast"
      description: "Get a specific broadcast by ID"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Broadcast details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Broadcast"
        "404":
          description: "Broadcast not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: get
  /v1/segments:
    post:
      tags:
        - "segments"
      operationId: "createSegment"
      summary: "Create segment"
      description: "Create a new contact segment. For data-driven segments, conditions must be provided."
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSegmentRequest"
      responses:
        "200":
          description: "Segment created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Segment"
        "400":
          description: "Validation error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: create
    get:
      tags:
        - "segments"
      operationId: "listSegments"
      summary: "List segments"
      description: "Get all segments for your organization"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "List of segments"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Segment"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: list
  /v1/segments/{id}:
    put:
      tags:
        - "segments"
      operationId: "updateSegment"
      summary: "Update segment"
      description: "Update an existing segment. Segment type cannot be changed after creation."
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSegmentRequest"
      responses:
        "200":
          description: "Segment updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Segment"
        "400":
          description: "Validation error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Segment not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - "segments"
      operationId: "deleteSegment"
      summary: "Delete segment"
      description: "Delete a segment. Contacts in the segment will not be deleted."
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Segment deleted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "404":
          description: "Segment not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/segments/{id}/contacts/{contactId}:
    post:
      tags:
        - "segments"
      operationId: "addContactToSegment"
      summary: "Add contact to segment"
      description: "Add a contact to a segment"
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "contactId"
          in: "path"
      responses:
        "200":
          description: "Contact added to segment"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-speakeasy-name-override: addContact
  /v1/segments/{id}/contacts:
    get:
      tags:
        - "segments"
      operationId: "getSegmentContacts"
      summary: "Get segment contacts"
      description: "Get contacts in a segment. For manual segments, returns contacts from the contact_segments join table. For data-driven segments, evaluates filter conditions at query time."
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
        - schema:
            type: "string"
            description: "Maximum number of contacts to return (default: 100, max: 1000)"
            example: "100"
          required: false
          name: "limit"
          in: "query"
        - schema:
            type: "string"
            description: "Number of contacts to skip for pagination"
            example: "0"
          required: false
          name: "offset"
          in: "query"
      responses:
        "200":
          description: "Paginated list of contacts in the segment"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SegmentContactsResponse"
        "404":
          description: "Segment not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/segments/{id}/contacts/bulk:
    post:
      tags:
        - "segments"
      operationId: "bulkAddContactsToSegment"
      summary: "Bulk add contacts to segment"
      description: "Add multiple contacts to a manual segment by contact IDs or email addresses. Data-driven segments do not support bulk add operations."
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkAddContactsToSegmentRequest"
      responses:
        "200":
          description: "Contacts added to segment"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkAddContactsToSegmentResponse"
        "400":
          description: "Validation error or segment type not supported"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Segment not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/contact-properties:
    post:
      tags:
        - "contact-properties"
      operationId: "createPropertyDefinition"
      summary: "Create property definition"
      description: "Create a new contact property definition for your organization"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePropertyDefinitionRequest"
      responses:
        "200":
          description: "Property definition created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyDefinition"
        "400":
          description: "Validation error or duplicate property name"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      tags:
        - "contact-properties"
      operationId: "listPropertyDefinitions"
      summary: "List property definitions"
      description: "Get all contact property definitions for your organization"
      security:
        - bearerAuth: []
      responses:
        "200":
          description: "List of property definitions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyDefinitionListResponse"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/contact-properties/{id}:
    delete:
      tags:
        - "contact-properties"
      operationId: "deletePropertyDefinition"
      summary: "Delete property definition"
      description: "Delete a contact property definition. This will remove the property from all contacts."
      security:
        - bearerAuth: []
      parameters:
        - schema:
            type: "string"
            format: "uuid"
            example: "123e4567-e89b-12d3-a456-426614174000"
          required: true
          name: "id"
          in: "path"
      responses:
        "200":
          description: "Property definition deleted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Success"
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: "Property definition not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v1/contacts/import/preview:
    post:
      tags:
        - "import"
      operationId: "csvImportPreview"
      summary: "Preview CSV import"
      description: "Parse a CSV file and return column headers with a preview of the first 5 rows"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CSVImportPreviewRequest"
      responses:
        "200":
          description: "CSV preview with headers and sample rows"
          content:
            application/json:
[...]
